* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.hero_section_container {
    display: flex;
    height: 550px;
}

.hero_section_container_navbar {
    width: calc(50% + 80px);
    padding-left: 10%;
    padding-right: 4%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.navbar img {
    width: 200px;
}

.navbar_swiggy_menu button {
    width: 110px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;

}

#login {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    margin-right: -13px;

}

#login:hover {
    color: #fc8019;
}

#signup {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.hero_section_container_image {
    width: calc(50% - 80px);
    background-image: url(images/hero_section_container_image.webp);
    background-size: cover;
}

.hero_section_container_heading {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero_section_container_heading h1 {
    font-size: 35px;
}

.hero_section_container_heading p {
    color: gray;
    font-size: 20px;
}

.hero_section_container_searchbar {
    margin-top: 20px;
    display: flex;

}

.hero_section_container_searchbar input {
    background-color: transparent;
    color: gray;
    width: 480px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 18px;
    outline: none;
    border: 1px solid rgb(176, 176, 176);
}

.hero_section_container_searchbar input:focus {
    border: 1px solid #fc8019;
}

.hero_section_container_searchbar button {
    height: 60px;
    width: calc(100% - 480px);
    background-color: #fc8019;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 800;
}

.hero_section_container_data {
    margin-top: 12px;
}

#heading1 {
    font-size: 14px;
    font-weight: 500;
    color: gray;
    margin-bottom: 16px;
}

#content1 {
    font-size: 14px;
    color: gray;
    font-weight: 500;
}

.banner_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    background-color: #2b1e16;
    font-size: 12px;
}

.banner_section_container img {
    margin-top: 5px;
    width: 110px;
    margin-bottom: 30px;
}

.banner_section_container h1 {
    margin-bottom: 12px;
}

.banner_section_container p {
    font-size: 13px;
    color: #b4b0ac;
    font-weight: 500;
}

#banner_bike {
    width: 130px;
    margin-top: 20px;
}

.banner_section_container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    padding-bottom: 40px;
}

.pocket_section_container {
    display: flex;
    margin-left: 6rem;
}

.pocket_section_container_data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 180px;
    margin-right: 1rem;
}

.pocket_section_container_img {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.pocket_section_container_img img {
    width: 180px;
    cursor: pointer;
}

.pocket_section_container_banner_images img {
    width: 380px;
}

.img2 {
    margin-top: 70px;
    position: relative;
    left: -35px;
}

.pocket_section_container_data h1 {
    font-size: 35px;
    color: #282c3f;
}

.pocket_section_container_data p {
    font-size: 16px;
    font-weight: 500;
    color: gray;
}

.swiggy_footer {
    background-color: #000000;
    position: relative;
    top: -8px;
    bottom: 0;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

footer div ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer div ul li a {
    text-decoration: none;
    color: white;
}

footer div ul li {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
}

.footer_subheading a {
    color: gray;

}

.footer_subheading {
    margin-bottom: 36px;
    font-weight: 600;
    font-size: 14px;
}

.footer_images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    margin-left: 100px;
}


.swiggy_copyright {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;

}

.swiggy_copyright_logo1 img {
    width: 160px;
}

.swiggy_copyright_logo2 h3 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}


.swiggy_copyright_social img{
    margin-left: 10px;
    width: 25px;
    margin-left: 24px;

}

@media only screen and (max-width:1200px){
    .pocket_section_container_banner_images img{
        display: none;
    } 

    .pocket_section_container_banner_images{
        width: 0;
    }
    .pocket_section_container_data{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .hero_section_container_image{
        display: none;
        width: 0;
    }

    .hero_section_container_navbar{
        width: 100%;

    }

    .hero_section_container_searchbar button{
        width: 150px;
    }

    .pocket_section_container_data{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        margin-right: 0;
    }

    footer{
        grid-template-columns: 1fr 1fr;
    }

    footer div{
        margin-bottom: 30px;
    }

    .footer_images{
        margin-left: 10px;
    }


}

@media only screen and (max-width: 700px){
     .swiggy_copyright{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
     }

     .swiggy_copyright_logo2{
        margin-bottom: 20px;
     }
     
}

@media only screen and (max-width: 420px){
    footer{
        grid-template-columns: 1fr;
    }

    .pocket_section_container_img{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .hero_section_container_navbar .navbar{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    
    .hero_section_container_searchbar{
        display: flex;
        flex-direction: column;
    }

    .hero_section_container_data{
        display: none;
    }
}