* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.hero_section_container {
    display: flex;
    height: 550px;
}

.hero_section_container_navbar {
    width: calc(50% + 80px);
    padding-left: 10%;
    padding-right: 4%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    margin-top: 60px;
}

.navbar img {
    width: 200px;
}

.navbar_swiggy_menu button {
    width: 110px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;

}

#login {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    margin-right: -13px;

}

#login:hover{
    color: #fc8019;
}

#signup {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.hero_section_container_navbar,
.hero_section_container_image {
    border: 2px solid red;
}

.hero_section_container_image{
    width: calc(50% - 80px);
    background-image: url(images/hero_section_container_image.webp);
    background-size: cover;
}

.hero_section_container_heading{
    border: 2px solid salmon;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero_section_container_heading h1{
    font-size: 35px;
}

.hero_section_container_heading p{
    color: gray;
    font-size: 20px;
}

.hero_section_container_searchbar{
    border: 2px solid black;
    margin-top: 20px;
}

.hero_section_container_searchbar input{
    outline: none;
    background-color: transparent;
    color: gray;
    width: 480px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 18px;
}

.hero_section_container_searchbar input :active{
    border: 2px solid #fc8019;
    outline: none;
}