* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.hero_section_container {
    display: flex;
    height: 550px;
}

.hero_section_container_navbar {
    width: calc(50% + 80px);
    padding-left: 10%;
    padding-right: 4%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.navbar img {
    width: 200px;
}

.navbar_swiggy_menu button {
    width: 110px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;

}

#login {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    margin-right: -13px;

}

#login:hover{
    color: #fc8019;
}

#signup {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.hero_section_container_image{
    width: calc(50% - 80px);
    background-image: url(images/hero_section_container_image.webp);
    background-size: cover;
}

.hero_section_container_heading{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero_section_container_heading h1{
    font-size: 35px;
}

.hero_section_container_heading p{
    color: gray;
    font-size: 20px;
}

.hero_section_container_searchbar{
    margin-top: 20px;
    display: flex;

}

.hero_section_container_searchbar input{
    background-color: transparent;
    color: gray;
    width: 480px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 18px;
    outline: none;
    border: 1px solid rgb(176, 176, 176);
}

.hero_section_container_searchbar input:focus {
    border: 1px solid #fc8019;
}

.hero_section_container_searchbar button {
    height: 60px;
    width: calc(100% - 480px);
    background-color: #fc8019;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 800;
}

.hero_section_container_data {
    margin-top: 12px;
}

#heading1{
    font-size: 14px;
    font-weight: 500;
    color: gray;
    margin-bottom: 16px;
}

#content1{
    font-size: 14px;
    color: gray;
    font-weight: 500;
}

.banner_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    background-color: #2b1e16;
    font-size: 12px;
}

.banner_section_container img{
    margin-top: 5px;
    width: 110px;
    margin-bottom: 30px;
}
.banner_section_container h1{
    margin-bottom: 12px;
}

.banner_section_container p{
    font-size: 13px;
    color: #b4b0ac;
    font-weight: 500;
}

#banner_bike{
    width: 130px;
    margin-top: 20px;
}

.banner_section_container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    padding-bottom: 40px;
}